NEXT_PUBLIC_SITE_URL=https://www.groverlawoffices.com
# Enquiry email delivery (Resend: https://resend.com)
RESEND_API_KEY=
ENQUIRY_TO=vaibhavgrover.adv@gmail.com
ENQUIRY_FROM=Website <enquiry@groverlawoffices.com>
